<h1><%= t ".list_question" %> </h1>
<h2><%= link_to t(".new"), new_course_lesson_question_path(params[:course_id],
  params[:lesson_id]), class: "btn btn-primary btn-md" %></h2>
<h2><%= link_to t(".back"), course_lessons_path(params[:course_id]) %></h2>
<%= render @questions %>
<%= will_paginate @questions %>
