<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @question, url: course_lesson_questions_path(params[:course_id],
      params[:lesson_id]) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.hidden_field :lesson_id, value: params[:lesson_id] %>
      <%= f.label :Question %>
      <%= f.text_field :content, class: "form-control"%>

      <%= f.label :Answers %>
      <img alt="add logo" src="/assets/add.png" id="add-answer"/>

      <div class="list-answers-area">
        <%= f.fields_for :answers do |answer| %>
          <div class="list-answers">
            <div class="son1">
              <%= answer.text_field :content, class: "form-control" %>
            </div>
            <div class="son2">
              <%= answer.check_box :correct %>
            </div>
          </div>
        <% end %>
      </div>
      <%= f.submit t(".create"), class: "btn btn-primary"%>
    <% end %>
    <br><%= link_to t(".back"), course_lessons_path %></br>
  </div>
</div>
