<% provide(:title, t("static_pages.about.about_1")) %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %><%= t ".head" %></title>
  </head>
  <body>
    <h1><%= t ".follow_1" %></h1>
    <p>
      <br><%= t ".the" %></br>
      <br><%= t ".body" %></br>
      <br><%= t ".end" %></br>
    </p>
  </body>
</html>
