<% provide(:title, t("static_pages.contact.contact_1")) %>
<h1><bdo dir="ltr"><%= t ".contact_1" %></bdo></h1>
<p>
   <br><%= t ".follow" %>
   <strong>
      <%= link_to t("static_pages.contact.name"), t("static_pages.contact.url")%>
   </strong>
   <%= t ".follow_1" %></br>
   <br>
    <i><%= t ".follow_2" %></i>
   </br> 
</p>
