<%= form_for @user_test do |f| %>
  <!-- <%= f.text_field :title %> -->
  <%= f.text_field :user_id %>
  <%= f.text_field :lesson_id %>

  <ol>
    <li>
      <%= f.fields_for :test_details do |test_detail_builder|%>
        <%= test_detail_builder.text_field :user_test_id %>
        <%= test_detail_builder.text_field :lesson_question_id %>
        <%= test_detail_builder.text_field :answer_id %>
        <%= test_detail_builder.object.answer.content %>
        <!-- <strong><%= question.text_field :content %></strong>
          <%= question.fields_for :answers do |answer| %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <%= answer.check_box :correct, {} ,"0" %>
              </div>
            </div>
              <%= answer.text_field :content %>
            </div>
          <% end %> -->
        <% end %>
      </li>
    </ol>
  <%= f.submit t(".submit"), class: "btn btn-primary" %>
<% end %>
z
