<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Created Date</th>
      <th scope="col">User Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Duration</th>
      <th scope="col">Question number</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user_test.test_day %></td>
      <td><%= current_user.name %></td>
      <td>
        <% @user_test.lessons.each do |lesson| %>
          <%= lesson.title %>
      </td>
      <td>20</td>
      <td><%= lesson.questions.count %></td>
      <% break %>
      <% end %>
      <td><%= @user_test.result %></td>
    </tr>
  </tbody>
</table>
<div class="center">
  <%= link_to t(".home"), root_path, class: "btn btn-info" %>
</div>
